<div>
	<% if @calc_result %>
		<div class="alert <%= @success ? 'alert-success' : 'alert-warning' %>  fade in" data-alert="alert">
			<a class="close" data-dismiss='alert' href="#">x</a>
			<p><%= @calc_result %></p>
		</div>
	<% end %>
	<%= form_tag(calculate_path, method: "post", role: "form") do %>
		<div class="form-group">
			<%= label_tag(:calculator_fuel_qty, "Fuel quantity (in liters)") %>
			<%= number_field(:calculator, :fuel_qty) %>
		</div>
		<div class="form-group">
			<%= label_tag(:calculator_distance, "Journey driven (in kilometers)") %>
			<%= number_field(:calculator, :distance, step: 0.01) %>
		</div>
		<%= submit_tag("Calculate") %>
	<% end %>
</div>